{% extends "base.html" %}

{% block center_content %}

{% if no_access %}
<p><strong>You do not have permission to access this file.</strong></p>
{% else %}

{% if password_fail %}
<p><strong>Incorrect password. Please try again.</strong></p>
{% endif %}

<p>This file is encrypted. Please enter your password below to access this file.</p>
<form action="{% url 'get_file' file_id %}" method="post">
{% csrf_token %}
<p>Password: <input name="password" type="password" /></p>
<input type="submit" value="Download file" />
</form>

{% endif %}

{% endblock %}
